.navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: red;
}

.upload-icon {
    height: 40px;
}
/*.header{*/
/*    height: 55px;*/

/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/

/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 100;*/
/*}*/

* {
    margin: 0px;
    padding: 0;
}
body {
    margin-top: 50px;
    font-family: 'Arial', sans-serif;
    background-color: black;
}

.mainMovie {
    background-image: url("Image/main-poster.png");
    background-size: cover;
    background-position: center;
    color: white;
    height: 448px;
}

.play-button {
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    background-color: gray;
    font-family: 'Arial', sans-serif;
    color: white;
}

.mainMovie-contents {
    margin-left: 50px;
    padding-top: 190px;
    height: 190px;
}

.mainMovie-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.mainMovie-description {
    margin-left: 20px;
    font-size: 1rem;
}

/* movie */
.row {
    color: white;
    margin-left: -5px;
}

.row h3 {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}

.row_movie {
    width: 100%;
    object-fit: contain;
    height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_movies {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    padding-bottom: 1000px;

}

.row_movie:hover {
    transform: scale(1.2);
}

.row_movie::-webkit-scrollbar{
    display: none;
}

.row_movieLarge {
    max-height: 250px;
}
